        
    <html>

        <head>
            <title>Jobify</title>
            <link href="/estilos.css" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        </head>

        <body>
            <h1><a href="/"><img src ="/images/logo.png" alt="Jobify - By Marcus Ungarette"></a></h1>
            <p>We are Jobify - Join Us!</p>